"source ~/.vimrc
" Map leader key to space
let mapleader="\<SPACE>"

set scrolloff=5
set relativenumber
set number
set smartcase
set incsearch
set nohlsearch
set NERDTree

" Disable annoying beep sound
set noerrorbells
set vb t_vb=

" IdeaVim-specific features
set surround
set ideajoin

" Enable system clipboard from IdeaVim and vice versa
set clipboard+=unnamed
set clipboard+=ideaput

" Shortcuts for opening/reloading .ideavimrc
nnoremap \e :e ~/.ideavimrc<CR>
nnoremap \r :action IdeaVim.ReloadVimRc.reload<CR>

" Quick window navigation
map <C-J> <C-W>j
map <C-K> <C-W>k
map <C-L> <C-W>l
map <C-H> <C-W>h

" Splitting Windows
nmap <Leader>v :vsplit<CR>
nmap <Leader>h :split<CR>

" Greatest remap ever: Paste without losing the original buffer
vnoremap <Leader>p "_dP

" Hide open panels
nmap <Leader>w :action HideAllWindows<CR>

" Open Terminal
nmap <Leader>t :action ActivateTerminalToolWindow<CR>

" Open recent project dialog box
nmap <Leader><Leader>m :action ManageRecentProjects<CR>

" Open Files Explorer
nmap <Leader>fs :NERDTreeFind<CR>
nmap <Leader>fb :action RecentFiles<CR>
nmap <Leader>ff :action GotoFile<CR>
nmap <Leader>fg :action SearchEverywhere<CR>

" Running and Debugging
map <leader>r <Action>(ContextRun)
map <leader>d <Action>(ContextDebug)
map \b <Action>(ToggleLineBreakpoint)

" Source code navigation
nmap gD :action GotoImplementation<CR>
nmap gt :action GotoTest<CR>
nnoremap ge :action GotoNextError<CR>
nnoremap gE :action GotoPreviousError<CR>
nnoremap gc :action VcsShowNextChangeMarker<CR>
nnoremap gC :action VcsShowPrevChangeMarker<CR>
nnoremap [[ :action MethodUp<CR>
nnoremap ]] :action MethodDown<CR>